:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* .add{
  width: 20rem;
  border-right: none;
  border-radius: 3rem 3rem 3rem 3rem;
  padding: 0.5rem;
  margin: 0rem;
  background: transparent;
} */
/* 
button {

  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
} */
/* button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

#root {
  min-width: 100%;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #47e3b6, #42476b);
}

html {
  font-size: 100%;
}

input {
  color: #000000;
}

h1 {
  color: #000000;
}

li,
input {
  color: #000000;
  background-color: #0ca97c;
}

.add-btn {
  width: 7rem;
  border-left: transparent;
  border-radius: 0rem 3rem 3rem 0rem;
  padding: 0.5rem;
  margin: 0rem;
  background: #f07c10 transparent;
}

#add-btn {
  border-radius: 0rem 3rem 3rem 3rem 0rem;
  width: 7rem;
  padding: 0.5rem;
  cursor: pointer;
  margin-left: 1em;
}

.inputadd {
  width: 20rem;
  border-right: none;
  border-radius: 3rem 0rem 0rem 3rem;
  padding: 0.5rem;
  margin: 0rem;
}

.apptodo {
  display: block;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 60rem;
  background: #fff;
  margin: 10em auto 2em;
  padding: 4rem 3rem 7rem;
  border-radius: 1rem;
}

.imglogo {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}

.logoh2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputbtn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ulli {
  display: flex;
  /* margin-left: 25%; */
  justify-self: center;
  width: 100%;
  padding: 10px;
  justify-content: center;
}

.add {
  width: 20rem;
  border-right: none;
  border-radius: 3rem 0rem 0rem 3rem;
  padding: 0.5rem;
  margin: 0rem;
  background: transparent;
}

/* addbutton */
.btnadditem {
  border-radius: 0rem 3rem 3rem 0rem;
  border-left: none;
  width: 7rem;
  padding: 0.5rem;
  cursor: pointer;
}

/* clear button */
.btnadditem1 {
  border-radius: 3rem 3rem 3rem 3rem;
  width: 7rem;
  padding: 0.5rem;
  margin: 5px;
  cursor: pointer;
}

span {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5px;
  padding-left: 20px;
}

.list-group-item ul li cross {
  position: absolute;
  right: 0;
  font-size: 2rem;
  line-height: 2rem;

  /* display: flex;
  flex-direction: row; */
}

li {
  cursor: pointer;
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #47e3b6;
  border-radius: 25px;
  margin-bottom: 5px;
  cursor: pointer;
  list-style-type: "👉";
  /* justify-content: center; */
}

ul {
  width: 80%;
}

.listedTask {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.listedTaskButtons {
  width: fit-content;
  display: flex;
  flex-wrap: nowrap;
  justify-items: end;
}

.barButton {
  width: fit-content;
}

ul li cross:hover {
  transition-duration: 0.2s;
  background-color: grey;
  cursor: pointer;
}

.list-group-item.selected {
  background-color: wheat;
}

ul li.checked {
  color: #1080f0;
  text-decoration: line-through;
}

/* li:hover {
      background-color: #47e3b6;
    } */

.headertodo {
  padding: 1em;
  background-color: chocolate;
  min-width: 100%;
  margin: 0rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.logona {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.headercontant {
  min-width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}
